<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Debts</title>
</head>
<body>
  <%- include ('templates/nav.ejs') -%>
  <table class="stats-table">
    <thead>
      <tr>
        <th>Debt type</th>
        <th>Balance owed</th>
        <th>Minimum payment</th>
        <th>Interest rate</th>
        <th>Date added</th>
      </tr>
    </thead>

  </table>
</div>

<div class="arrays">
  <table class="stats-table">
    <thead>
      <tr>
        <th>Passing</th>
        <th>Failing</th>
        <th>Raised</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="passingGrades"></td>
        <td id="failingGrades"></td>
        <td id="raisedGrades"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>